/*
	DEFINITIONS
*/
:root {
	--dark: #36393B;
	--light: #FFFAFB;
	--shine: #FFD23F;
	--warm: #D33F49;
	--cool: #26D07C;
}
@font-face {
	font-family: norm;
	src: url("fonts/pompiere.regular.ttf");
}
@font-face {
	font-family: fancy;
	src: url("fonts/great-vibes.regular.ttf");
}
@font-face {
	font-family: mono;
	src: url("fonts/monospace.medium.ttf");
}
@font-face {
	font-family: cute;
	src: url("fonts/gnyrwn971.ttf");
}
@keyframes hdr {
  0% {width: 250px;}
  100% {width: 95vw;}
}

/*
	GENERAL RULES
*/

* {
	margin: 0px;
}
body {
	background-color: var(--light);
}
p {
	padding: 5px;
}
a {
	text-decoration: none;
	color: var(--dark);
}

/*
    ITEM RULES
*/

.logo {
	display: inline;
	width: 15px;
	padding: 10px;
	vertical-align: middle;
	margin-bottom: 10px;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	animation-name: hdr;
	animation-duration: 1s;
	animation-timing-function: linear;
	align-items: center;
	position: sticky;
	top: 0px;
	padding: 10px 25px 10px 25px;
	background-color: var(--light);
	background-attachment: fixed;
	z-index: 3;
}
header:defined {
	width: inherit;
}
#back {
    font-family: norm;
    text-transform: uppercase;
    font-size: 17px;
}
#back:hover {
	color: var(--shine);
}
#back:hover img {
	content: url("img/backsh.png");
}
#myname {
	font-family: fancy;
	font-size: 30px;
}

#wip {
    font-family: mono;
    font-size: 14px;
    text-align: center;
    margin: 25px 0px 25px 0px;
}
