/*
	DEFINITIONS
*/
:root {
	--dark: rgba(38,70,83,1);
	--shine: rgba(255,113,91,1);
}
@font-face {
	font-family: raleway;
	src: url("fonts/Raleway-Regular.ttf");
}
@font-face {
	font-family: cks;
	src: url("fonts/ConcettaKalvaniSignature.ttf");
}

/*
	FONT RULES
*/
.decor, .decor * {
	font-family: cks;
}
.reg, .reg * {
	font-family: raleway;
}
body {
	font-size: 14px;
}

/*
	GENERAL RULES
*/
a {
	text-decoration: none;
}
* {
	margin: 0px;
	box-sizing: border-box;
	color: var(--dark);
	font-size: 1em;
}
body {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
article{
	padding: 25px;
}
p {
	padding: 5px;
	line-height: 1.5;
	text-align: justify;
}
.logo {
	display: inline;
	width: 40px;
	padding: 10px;
	vertical-align: middle;
}
ul {
	list-style-image: url("img/bullet.png");
	margin-left: 10px;
}
ul li {
	padding: 2px;
}
.sep {
	height: 7px;
}

/*
	HEADER RULES
*/
h1 {
	padding: 25px;
	line-height: 2.5;
	text-align: center;
	font-size: 2em;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	position: sticky;
	top: 0px;
	background-color: white;
	margin: 25px;
	border-bottom: 2px solid var(--shine);
	margin-bottom: 0px;
}
nav{
	padding: 10px;
}
nav a {
	padding: 10px;
}
nav a:hover {
	color: var(--shine);
}

/*
	ABOUT RULES
*/
.profile {
	display: block;
	max-width: 200px;
	border-radius: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
.btnav {
	text-align: center;
	padding-bottom: 25px;
}
.btnav a {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--dark);
}
.btnav a:hover {
	border: 1px solid var(--shine);
}

/*
	CONTACT RULES
*/

.contact {
	text-align: center;
}

/*
	QUALIFICATIONS RULES
*/

.qualsec {
	margin: 25px;
}
.qualttl {
	font-size: 1.25em;
}
.qualbdy {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.vertline {
	align-self: stretch;
	background-color: var(--shine);
	width: 2px;
	margin-left: 20px;
	margin-right: 50px;
}
.qualitms {
	align-self: center;
	padding:5px;
}

/*
	PORTFOLIO RULES
*/
#wip {
	display:block;
	max-width: 250px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
