/*
	DEFINITIONS
*/
:root {
	--dark: #050609;
	--light: #F7F7F9;
	--shine: #FFB100;
	--warm: #A62639;
	--cool: #574AE2;
}
@font-face {
	font-family: norm;
	src: url("fonts/pompiere.regular.ttf");
}
@font-face {
	font-family: fancy;
	src: url("fonts/great-vibes.regular.ttf");
}
@font-face {
	font-family: mono;
	src: url("fonts/monospace.medium.ttf");
}
@font-face {
	font-family: cute;
	src: url("fonts/gnyrwn971.ttf");
}

/*
	GENERAL RULES
*/

* {
	margin: 0px;
}
body {
	background-color: var(--light);
}
p {
	padding: 5px;
}
a {
	text-decoration: none;
	color: var(--dark);
}

/*
	ITEM RULES
*/

div:target::before {
	display: block;
	content: "";
	height: 68px;
}
body > div {
	background-color: var(--light);
	z-index: 2;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}
.seqttl {
	font-family: norm;
	font-size: 21px;
	text-align: center;
	color: var(--warm);
}
.logo {
	display: inline;
	width: 15px;
	padding: 10px;
	vertical-align: middle;
	margin-bottom: 10px;
}
.sepline {
	height: 2px;
	max-width: 500px;
	margin: 15px auto 15px auto;
	background-color: var(--warm);
}

#about {
	position: sticky;
	top: 0px;
	font-family: cute;
	background-color: var(--cool);
	color: var(--light);
	padding: 25px;
	z-index: 1;
}
#propic {
	display: block;
	max-width: 150px;
	border-radius: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
#about p {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	font-size: 21px;
	text-align: justify;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--light);
	background-attachment: fixed;
	z-index: 3;
}
#myname {
	font-family: fancy;
	font-size: 30px;
}
nav a {
	margin: 5px;
	font-family: norm;
	font-size: 17px;
	padding: 5px;
}
nav a:hover {
	border-bottom: 2px solid var(--shine);
}

#quals {
	font-family: norm;
}

.qualsec {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
.qualttl {
	font-size: 21px;
}
.qualbdy {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.vertline {
	align-self: stretch;
	background-color: var(--cool);
	width: 2px;
	margin-left: 20px;
	margin-right: 50px;
}
.qualitms {
	align-self: center;
	padding:5px;
}
.qualitms p {
	font-size: 17px;
}
.qualitms ul {
	list-style-image: url("img/bullet.png");
	margin-left: 10px;
}
.qualitms li {
	font-size: 15px;
	padding: 2px;
}

#wip {
	font-family: mono;
	font-size: 14px;
	text-align: center;
}

.contact {
	font-family: norm;
	text-align: center;
	font-size: 17px;
}
.contact a {
	font-size: 17px;
}
