/*
    GENERAL RULES
*/

@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Scheherazade');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Kalam');

:root {
    --p1: #9fb9f6;
    --p2: #6490f3;
    --p3: #2e6af3;
    --p4: #034bf1;
    --c1: #ffdd9a;
    --c2: #ffc758;
    --c3: #ffb219;
    --c4: #ffaa00;
}

* {
    background-color: var(--p4);
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    font-size: 20px;
}


.fancyen {
    font-family: 'Kalam', cursive;
}

.normalen {
    font-family: 'Open Sans Condensed', sans-serif;
}

.fancyfa {
    font-family: 'Amiri', serif;
}

.normalfa {
    font-family: 'Scheherazade', serif;
}

/*
    INDEX FILE RULES
*/

h1 .fancyfa {
    font-family: 'Reem Kufi', sans-serif;
}

#langSelec a {
    text-decoration: none;
    color: white;
    background-color: rgba(255,255,255,0);
}

#langSelec h1 {
	background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
}

#langSelec h1 {
    padding: 5vh;
	box-shadow: 5px 5px 5px white;
    margin: 15vh;
}

#langSelec h1:hover {
	padding: 10vh;
    box-shadow: 10px 10px 10px white;
}

#langSelec {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 95vh;
}

/*
    HOME PAGE RULES
*/

header {
    background-color: var(--c3);
    text-align: center;
}

header *{
    background-color: transparent;
}

header > h2 {
    color: var(--p3);
}

.fancyfa h2 {
	font-family: 'Reem Kufi', sans-serif;
}

header a {
    color: var(--p3);
    text-decoration: none;
    font-weight: 900;
}

#outer-grid > section {
	border: 5px solid var(--c3);
    border-radius: 50px;
}

/*
    SIDEBAR
*/

.side {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.side > header {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 2vw;
    grid-gap: 2vw;
    height: inherit;
    box-shadow: 5px 0px 2px var(--c1), -5px 0px 2px var(--c1);
}

.side h2 {
    align-self: center;
    padding: 5px;
}

.side > header nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.side .devider {
	height: 2px;
    width: 50%;
    background-image: linear-gradient(to left, transparent, var(--p3), transparent);
}

.side > section {
	margin: 5vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;
}

/*
    TOPBAR
*/

.top {
	display: grid;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    min-height: 100vh;
}

.top > header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2vw;
    grid-gap: 2vw;
    width: inherit;
    box-shadow: 0px 5px 2px var(--c1);
}

.top h2 {
    align-self: center;
    padding: 5px;
    grid-column: 1/-1;
}

.top > header nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.top .devider {
	width: 2px;
    height: 50px;
    background-image: linear-gradient(to bottom, transparent, var(--p3), transparent);
}

.top > section {
	margin: 5vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;
}