/*
    GENERAL RULES
*/

@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Scheherazade');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Kalam');

:root {
    --p1: #9fb9f6;
    --p2: #6490f3;
    --p3: #2e6af3;
    --p4: #034bf1;
    --c1: #ffdd9a;
    --c2: #ffc758;
    --c3: #ffb219;
    --c4: #ffaa00;
}

* {
    background-color: var(--p4);
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    font-size: 20px;
}


.fancyen, .fancyen * {
    font-family: 'Kalam', cursive;
}

.normalen, .normalen * {
    font-family: 'Open Sans Condensed', sans-serif;
}

.fancyfa, .fancyfa * {
    font-family: 'Amiri', serif;
}

.normalfa, .normalfa * {
    font-family: 'Scheherazade', serif;
}

/*
    INDEX FILE RULES
*/

h1 .fancyfa {
    font-family: 'Reem Kufi', sans-serif;
}

#langSelec a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

#langSelec h1 {
	background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
}

#langSelec h1 {
    padding: 5vh;
	box-shadow: 0px 0px 10px black;
    background-color: transparent;
    margin: 15vh;
}

#langSelec h1:hover {
	padding: 10vh;

}

#langSelec {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 95vh;
}

/*
    HOME PAGE RULES
*/

header {
    background-color: var(--c3);
    text-align: center;
}

header *{
    background-color: transparent;
}

header > h2 {
    color: var(--p3);
}

.fancyfa h2 {
	font-family: 'Reem Kufi', sans-serif;
}

header a {
    color: var(--p3);
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
}

#outer-grid > section {
    overflow: auto;
}

.selected {
    filter: drop-shadow(1px 1px black);
}

/*
    SIDEBAR
*/

.side {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.side > header {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 2vw;
    grid-gap: 2vw;
    height: inherit;
    box-shadow: 5px 0px 2px var(--c1), -5px 0px 2px var(--c1);
}

.side h2 {
    align-self: center;
    padding: 5px;
}

.side > header nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.side .devider {
	height: 2px;
    width: 50%;
    background-image: linear-gradient(to left, transparent, var(--p3), transparent);
}

.side > section {
	margin: 5vw;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;

}

/*
    TOPBAR
*/

.top {
	display: grid;
    grid-template-rows: 200px 1fr;
    width: 100vw;
    min-height: 100vh;
}

.top > header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2vw;
    grid-gap: 2vw;
    width: inherit;
    box-shadow: 0px 5px 2px var(--c1);
}

.top h2 {
    align-self: center;
    padding: 5px;
    grid-column: 1/-1;
}

.top > header nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.top .devider {
	width: 2px;
    height: 50px;
    background-image: linear-gradient(to bottom, transparent, var(--p3), transparent);
}

.top > section {
	margin: 5vw;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;
}

/*
    SKILLS
*/

.skillGroup {
    box-shadow: 0px 0px 5px white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

.skillGroup * {
	background-color: transparent;
    color: white;
}

.skillGroup > h3 {
	cursor: pointer;
}

.skills {
	display: none;
}

.skills.show {
	display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.skills.show button {
	border: none;
    text-align: justify;
    padding-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    color: var(--c3);
    font-weight: bold;
    text-transform: uppercase;
}

.skills.show .skillsList {
	display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--p4);
    box-shadow: 0px 0px 10px black;
}

.skills.show .skillsList p {
    color: white;
    width: 300px;
    padding: 10px;
}

/*
    EDUCATION
*/

.eduItem {
    margin: 10px;
    display: grid;
    grid-template-areas:
        "College College"
        "degSub gradDate"
        "ave ave"
        ;
    grid-gap: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.College {
	grid-area: College;
}
.degSub {
	grid-area: degSub;
}
.gradDate {
	grid-area: gradDate;
}
.ave {
	grid-area: ave;
}

.eduItem * {
	background-color: transparent;
    margin: 10px;
}

.degSub.fa {
	text-align: right;
}
.degSub.en {
	text-align: left;
}
.gradDate.en {
	text-align: right;
}
.gradDate.fa {
	text-align: left;
}

/*
    WORKS
*/

.wrkItem {
	display: none;
}

.wrkItem.show {
	display: block;
}

.side #wrkFrame {
	display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.top #wrkFrame {
    display: grid;
    grid-template-areas:
        "display    display     display"
        "prev       empty       next";
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 100px 1fr 100px;
    grid-gap: 10px;
}
.top #prev {
	grid-area: prev;
}
.top #next {
	grid-area: next;
}
.top #wrkDisplay {
	grid-area: display;
}

#wrkDisplay {
    height: 100%;
    display: grid;
    grid-template-rows: auto 3px;
    align-items:center;
    align-content: center;
}

#wrkFrame > img {
	width: 100%;
    filter: blur(1px);
    padding: 5px;
    cursor: pointer;
}

#wrkFrame > img.disabled {
    filter: blur(5px);
    cursor: not-allowed;
}

#wrkDisplay > .show > img {
	width: 95%;
    box-shadow: 0px 0px 10px black;
}

#progress {
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5px,1fr));
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.progressNode {
    box-shadow: 0px 0px 5px black;
    height: 2px;
    margin: 5px;
    border-radius: 50px;
}

.progressNode.highlighted {
	background-color: var(--c3);
  height: 5px;
}

/*
    CONTACTS-FA
*/

#telegram img {
	vertical-align: middle;
}
